body{
    background-image: url("../assets/achtergrond.png");
    background-repeat: repeat;
    display: flex;
}

 button{
    width: 400px;
    text-align: center;
    font-size: 32px;
    font-family: fp-head-pro, sans-serif;
    font-weight: 700;
    color: white;
    background-color: rgba(2, 122, 2, 0.759);
    border: 2px solid white;
    padding: 5px 5px 10px 5px;
}

.play{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    text-decoration-color: white;
}