
body{
     background-image: url("../assets/istockphoto-922427928-612x612.png");
     background-repeat: repeat;
}

main{
    max-width: 770px;
    margin:auto;
}

h1{
    text-align: center;
    font-family: 'Audiowide', cursive;
    color: black;
    background-color: green;
    text-transform: capitalize;
    border: 2px solid darkgreen;
    padding: 5px;
}

.grid{
    width: 650px;
    height: 650px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.cell{
    float: left;
    width:60px;
    height:60px;
    background-color: rgba(2, 122, 2, 0.501);
    border:1px solid whitesmoke;
    display: table-cell;
    vertical-align: middle;

}    

.miner{
    position: absolute;
    margin: 5px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    font-family: 'Audiowide' , cursive;
}

.button{
    background-color: green;
    font-family: 'Audiowide', cursive;
    border-color: darkgreen;
    border-radius: 2px;
}

#time{
    background-color: green;
    padding:10px;
    border: 2px solid darkgreen;
}

#points{
    background-color: green;
    padding: 10px;
    border: 2px solid darkgreen;
}
