.container{
    background-image: url("../assets/istockphoto-922427928-612x612.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    background-size: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 button{
    width: 10rem;
    background-color: crimson;
    color: white;
    margin-bottom: 50px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    text-decoration-color: white;
}