
body{
     background-image: url("../assets/istockphoto-922427928-612x612.png");
     background-color: #cccccc;
     background-repeat: repeat;
     background-position: center;
     background-clip: border-box;
}

/* 
.container{
    background-size: 100%;
    width: 100%;
} */

.miner{
    position: absolute;
    width: auto;
    height: auto;
}

.grid{
    /* background-image: url("../../istockphoto-922427928-612x612.jpg"); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 1000px;

}


.cell{
    background-color: rgba(0, 128, 0, 0.438);
    min-width: 10%;
    min-height: 10% ;
    border: 2px solid white;
    margin: 0;
}
/* #tabel table{
    min-width: 1000px;
    min-height: 1000px;
    position: relative;
}

#tabel table tr td{
    background-color: rgba(0, 128, 0, 0.438);
    width: 10%;
    margin: 0;
}

#tabel table, tr, td{
    border: 2px solid white;
    margin: 0;
} */

@media only screen and (min-width: 31rem) {
    table{
        min-width: 700px;
    }
  }