
body{
     background-image: url("../assets/istockphoto-922427928-612x612.png");
     background-repeat: repeat;
}
main{
    max-width: 500px;
    margin:auto;
}

h1{
    max-width: 710px;
    text-align: center;
    font-family: fp-head-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    background-color: rgba(2, 122, 2, 0.759);
    text-transform: capitalize;
    border: 2px solid white;
    padding: 5px 5px 10px 5px;
}

.buttons{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 40px;
    font-family: courier-std, monospace;
    font-weight: 700;
    font-style: normal;
    
}

.button{
    color: white;
    background-color: rgba(2, 122, 2, 0.759);
    font-family: fp-head-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    border-color: white;
    border-radius: 2px;
    padding: 10px;
}

#timer{
    color: white;
    background-color: rgba(2, 122, 2, 0.759);
    padding:10px;
    border: 2px solid white;
    margin-top: 20px;
}

